body {
	background-color: lightblue;
}
h1.rv {
	color: darkblue;
	}
h2.rv {
	font-family: "Matura MT Script Capitals", Times New Roman, Serif;
	font-size: 30px;
}

h.ftr {
    font-family: "Matura MT Script Capitals", Times New Roman, Serif;
    font-size: 30px;
}

h3 {
	align="center";
	color: white;
}
h4 {
	font-family: "Century Gothic", Times New Roman, Serif;
	font-color:  deeppink;
}
h5 {
	font-color: black;
}
h6 {
	font-stretch: extra-expanded;
}
html {

}

p {
    color: black; 
    font-size: 18px;
    font-family:century gothic; courier; calibri;
}
.boldClass {
	font-weight:bold;
}
#bigID {
	font-size:24px;
}
.italic {
	font-style: italic;
}
.oblique {
	font-style: oblique;
}

a:hover {
    background-color: darkred;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li.nav {
    float: left;
    font-family: Century Gothic;
}

li.nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover:not(.active) {
    background-color: lightgray;

}

.active {
    background-color: darkgray;


}

div.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}

